.homepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
 .homepage .benefitCover{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 25px;
  margin-right: 25px;
 }
 .homepage .benefitCover .benefit{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
 }
 .homepage .benefitCover .benefit .BenefitWrapper{
  width:max-content;
 }
 .homepage .benefitCover .benefit .BenefitWrapper .benefitDescription{
  font-size: 18px;
  font-style: oblique;
  font-family:Georgia, 'Times New Roman', Times, serif;
  height: 50px;
  width: -webkit-fill-available;
 }
 
 .homepage .seasonbanner .bannerContent .title{
  width:100%;
  font-size: 20px;
  font-style: oblique;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
 }
 .homepage .seasonbanner .bannerContent .Slogan{
  width:max-content;
  font-size: 25px;
  font-style: oblique;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  width:100%;
  font-weight: 500;
 }
 .homepage .seasonbanner .bannerContent .bannerDescription{
  width:100%;
  font-size: 15px;
  font-style: oblique;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
 }
 
 