.OrderWrapper{

    display: flex;
    row-gap: 10px;
    flex-direction: column;
}
.OrderWrapper .Header{
    align-self: center;
}
.OrderWrapper .cartWrapper{
   
}
.OrderWrapper .Wrapper{
    display: flex;
    flex-direction: column;
    row-gap:5px
}
.OrderWrapper .Wrapper .error{
    font-size: 12px !important;
    color: red;
    margin-left: 10px;
}
.OrderWrapper .textbox{
    width: 200px;
}
.OrderWrapper .submit{
    width: 80px;
    height:30px;
    align-self: center;
}
.orderFooter .amountOrder{
    width: 310px;
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
    color: red;
}

.orderFooter{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom:0px;
    border: solid 0.5px black;
    width: 100%;
    background-color: white;
}
 .orderFooter .Buy .text-Content{
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
    color:white;
    width: 75%;
}
 .orderFooter .Buy{
    width: 26%;
    background-color: black;
    height: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
