.Orders{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.Orders .Order{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 350px;
    row-gap: 10px;
    background-color: #ece9e9e9;
}
.Orders .Order .form{
    display: flex;
    flex-direction: row
}
.Orders .Order .form .formtitle{
    width: 80px;
}
.Orders .StatusWraper{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.Order .StatusWraper .status{
    width: 80px;
    font-weight: bold;
    height: 25px;
}