
   .itemcover{
        background-color: transparent;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        row-gap: 5px;
        column-gap: 5px;
        columns: 2;
      
   }
 
  
   .product {
    height: 279px;
    position: relative;
    width: 200px;
  }
  
   .productimg {
    height: 160px;
    object-fit: cover;
    position: static;
    width: 190px;
    background-color: #a8a4a4;
  }
  
  
   .productname {
    color: #333a3a;
    font-size: 25px;
    font-weight: 400;
    line-height: 16.2px;
    text-decoration: none;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
  }
  
   .price {
    color: #333333;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 116px;
    letter-spacing: 0.75px;
    line-height: 18.8px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 69px;
  }
  
  .currentItem{
    height: 279px;
    position: relative;
    width: 200px;
  }
  .currentItem .deleteButton{
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 2;
  }

  .productname{
    color: #333a3a;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 16.2px;
  }
  .description{
    height: 50px;
    width: 180px;
  }